asgiref==3.11.1
Django==5.1.1
gunicorn==23.0.0
packaging>=23.1
pillow==10.4.0
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.12.0
numpy==2.4.3
pandas==3.0.1
matplotlib==3.10.8
scikit-learn==1.8.0
joblib~=1.5.3